:root {
  --heading-color: #3a3a3a;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

/* * mobile-first */

/* * nav */

nav {
  margin-top: 3rem;
  text-align: center;
}

.fa-lg {
  font-size: 1.5rem;
}

nav h1 {
  margin: 0;
  display: inline-block;
  margin: 0 10px 0 10px;
  font-weight: bold;
  line-height: 24px;
  color: var(--heading-color);
}

.nav-text {
  display: none;
}

/* * header */
header {
  margin: 2rem 1rem;
  text-align: center;
}
.img-container {
  background-image: url(../images/Circle\ design.svg);
  background-size: cover;
  padding-bottom: 1rem;
}
.img-container {
  max-width: 70%;
  margin: 1rem auto;
}
.img-container img {
  max-width: 100%;
  height: auto;
}

.header-text-container {
  display: inline-block;
  width: 80%;
}

.header-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  color: var(--heading-color);
  margin: 0;
}

.header-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  font-feature-settings: 'liga' off;
  color: var(--heading-color);
  margin: 1rem 0;
}

.btn {
  text-decoration: none;
  padding: 10px 24px;
  color: #ffffff;
  background: #e02c6d;
  border-radius: 41px;
  display: inline-block;
  transition: 0.2s all;
}

.btn:hover {
  background-color: #e02c6d;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

/* ! prb icon */
.fa-arrow-right {
  padding-right: 8px;
}

/* ecommerce section */

.ecommerce {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.ecommerce img {
  max-width: 30%;
}

/* * product collection */

.popular {
  display: inline-block;
  margin: 0;
  text-align: right;
}

.popular h1 {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--heading-color);
  margin: 4rem 0 0 0;
}

.popular-grid {
  display: inline-block;
  max-width: 100%;
  margin: 0 auto;
}

.white-card {
  width: 18rem;
  height: 29.75rem;
  margin: 2rem 0.95rem;
  background-color: #ffffff;
  padding: 1rem 0;
  overflow: hidden;
  /* box shadow */
  box-shadow: 0px 0px 39px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 39px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 39px 7px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.white-card-img {
  max-width: 100%;
  margin: 0 1rem;
  transition: 0.2s all;
}

.white-card-img img {
  max-width: 100%;
  height: auto;
}

.white-card-img:hover {
  transform: scale(1.2);
}

.white-card-text {
  padding: 0 1rem;
}

.white-card-icon {
  display: inline-block;
  margin: 0.9rem 0.2rem 0 0;
}

.fa-star {
  color: #fb8200;
}

.fa-star-half-alt {
  color: #fb8200;
}

.white-card-text h1,
p {
  margin: 0;
}

.white-card-text h1 {
  text-align: left;
  font-weight: bold;
  font-size: 28px;
  line-height: 51px;
  margin-top: 1rem;
}

.white-card-text p:nth-child(3) {
  display: inline-block;
  color: #5e6366;
}

.white-card-text p:last-child {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #787885;
  display: inline-block;
  margin-top: 0.9rem;
}

.popular-grid-btn {
  margin: 0 0.7rem 2rem 0;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  cursor: pointer;
  /*  */
  border-bottom: 1px solid #e02c6d;
  padding: 3px;
  transition: 0.2s all;
}

.popular-grid-btn:hover {
  background-color: #e02c6d;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.popular-grid-btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

/* * tour section */

.section-about {
  text-align: center;
}

.heading-secondary {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #a8ff78, #78ffd6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 2px;
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.section-about-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.section-about {
  display: inline-block;
}

.section-about-text h1 {
  display: inline-block;
  text-align: right;
}

.section-about-text p {
  display: inline-block;
  width: 60%;
  text-align: right;
}

.section-about img {
  max-width: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);

  transition: 0.2s all;
  outline-offset: 0.5rem;
}
.section-about h1 {
  text-transform: capitalize;
  color: var(--heading-color);
}

.section-about p {
  color: #5e6366;
}

.section-about img:hover {
  outline: 1rem solid green;
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
}

/* footer section */

footer {
  background: #0a0826;
  padding: 3rem;
}

footer h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

footer p {
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 29px;
  color: #d9dbe1;
}

.footer-icon {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
}

.fa-facebook {
  color: #4267b2;
}

.fa-instagram {
  color: #c32aac;
}

.fa-twitter {
  color: #00acee;
}

.fa-linkedin {
  color: #0077b5;
}

/* * media query */

/* * tablet mode */

@media only screen and (min-width: 400px) {
  /* * header */
  body {
    margin: 0;
  }
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .img-container {
    order: 2;
  }

  /* * product collection */
  .popular {
    display: inline-block;
    margin: 0 2.9rem;
  }

  .popular-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 60%;
    margin: 0;
  }

  /*  */

  .section-about-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 500px) {
  /* * header */
  body {
    margin: 0;
  }
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .img-container {
    order: 2;
  }

  /* * product collection */
  .popular {
    display: inline-block;
    margin: 0 6.8rem;
  }

  .popular-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 60%;
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  /* * header */
  body {
    margin: 0;
  }
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .img-container {
    order: 2;
  }

  /* * product collection */

  .popular-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

/*  */

@media only screen and (min-width: 768px) {
  /* * header */
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .img-container {
    order: 2;
  }

  /* * product collection */

  .popular {
    display: inline-block;
    margin: 0 5.5rem;
  }

  .popular-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 60%;
    margin: 0;
  }
}

@media only screen and (min-width: 900px) {
  /* * header */
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .img-container {
    order: 2;
  }

  /* * product collection */

  .popular {
    display: inline-block;
    margin: 0 8.35rem;
  }

  .popular-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 60%;
    margin: 0;
  }
}

@media only screen and (min-width: 992px) {
  /* * product collection */

  .popular {
    margin: 0 30rem;
  }

  .popular-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 60%;
    margin: 0;
  }
  /* * nav */
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem auto;
  }

  .nav-text p {
    display: inline-block;
    margin-right: 0.5rem;
  }

  nav span {
    display: none;
  }

  /* * header */

  .header-text-container {
    display: inline-block;
    width: 60%;
  }

  .header-text {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  /* * tour section */

  .section-about {
    text-align: center;
    margin: 2rem 0;
  }

  .heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #a8ff78, #78ffd6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s;
    letter-spacing: 2px;
  }

  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  .section-about-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .section-about {
    display: inline-block;
  }

  .section-about-text {
    width: 60%;
  }

  .section-about img {
    max-width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);

    transition: 0.2s all;
    outline-offset: 0.5rem;
  }
  .section-about h1 {
    text-transform: capitalize;
    color: var(--heading-color);
  }

  .section-about p {
    color: #5e6366;
  }

  .section-about img:hover {
    outline: 1rem solid green;
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  }
}
